.modal {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 16px;
    background: #ffffff;
    padding: 20px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    margin: auto;
}

.modal__text {
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 29px;
}