.wrapper {
    background: radial-gradient(79.00% 50.00% at 50% 50%, rgb(127, 196, 202), rgb(0, 130, 145) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper__content {
    width: 100%;
    padding-top: 30px;


}

.title {
    margin-bottom: 5px;
}

.text {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.puzzle {
    position: relative;
    height: 450px;
    border: 1px solid red;
    width: 100%;
}

.puzzle__conturImg {
    width: 289px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.puzzle__conturImg img {
    width: 100%;
}

.puzzle__item {
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.puzzle__item img {
    width: 100%;
}



.puzzle0 {
    width: 173.4px;
}

.puzzle1 {
    width: 144.5px;
}

.puzzle3 {
    width: 173.4px;
}

.puzzle2 {
    width: 144.5px;
}

.puzzlePoz0 {
    top: 0px;
    left: -16px;
}

.puzzlePoz1 {
    right: 10px;
    top: 30px;
}


.puzzlePoz2 {
    bottom: -20px;
    left: 0px;
}

.puzzlePoz3 {
    right: -10px;
    bottom: 20px;
}

.puzzle__logo {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 169.5px;
    left: 50%;
    transform: translateX(calc(-50%)) translateY(-1px);
    z-index: 5;
    animation: opacityLogo 1s ease-in;

}

.puzzle__logo img {
    width: 100%;
    height: 100%;
}

@keyframes opacityLogo {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.win {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -70px;
    opacity: 1;
    transition: .2s;
}

.win.none {
    opacity: 0;
}

.subtitle {
    margin-bottom: 20px;
}