@import url("./assets/fonts/fonts");


:root {
  font-family: "Nipigaz Basic", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --primary-color: #03ACC4;
  --bg-root: #e2fbff;

  --scrollbar-track-color: #ECECEC;
  --scrollbar-color: #e2fbff;
  --scrollbar-width: 2px;

  --scrollbar-size: .2rem;
  --scrollbar-minlength: 1.5rem;
}

.scroll__elem {
  overflow-y: auto;
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
}

.scroll__elem::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);

}

.scroll__elem::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  border-radius: 8px;
}

.scroll__elem::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 8px;
  /* Если нужно - добавьте :hover и:active */
}

.scroll__elem::-webkit-scrollbar-thumb:vertical {
  min-height: var(--scrollbar-minlength);
}

.scroll__elem::-webkit-scrollbar-thumb:horizontal {
  min-width: var(--scrollbar-minlength);
}

.scroll__elem.row:not(:last-child) {
  margin-bottom: 8px;
}

@supports (scrollbar-width: auto) {
  .scroll__elem {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }
}